@font-face {
	font-family: 'PT Mono';
	src:
	url('../fonts/PTMono/bold/PTMono-Bold.woff') format('woff'),
	url('../fonts/PTMono/bold/PTMono-Bold.ttf')  format('truetype'),
	url('../fonts/PTMono/bold/PTMono-Bold.svg#PTMono-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
}



$color-blue: #357BBA;
$font-mono: 'PT Mono';
html{
	// font-size: 0.521vw;
	font-size: 0.6945vw;
}
body{
	font-family: 'Noto Sans', sans-serif;
	background: url(../img/circle-1.svg) 0 0 no-repeat;
	background-size: 44.5rem auto;
	overflow-x: hidden;
}
.container-fluid{
	max-width: 119.9rem;
}
a{
	color: inherit;
	text-decoration: none;
	&:hover{
		color: $color-blue;
	}
}
h1, .h1{
	font-size: 4em;
	line-height: 1.13em;
	font-family: $font-mono;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 5.1rem;
}
h2, .h2{
	font-size: 3.3em;
	color: #10406B;
	font-weight: 700;
	margin-bottom: 2rem;
	text-transform: uppercase;
	font-family: $font-mono;
}
p{
	font-size: 1.5em;
	line-height: 1.34em;
	margin-bottom: 2rem;
}
i{
	display: inline-block;
	background-size: contain;
	background-repeat: no-repeat;
	&.phone{
		width: 1rem;
		height: 1rem;
		background-image: url(../img/phone.svg);
	}
	&.mail{
		width: 1rem;
		height: 1rem;
		background-image: url(../img/mail.svg);
	}
	&.skype{
		width: 1rem;
		height: 1rem;
		background-image: url(../img/skype.svg);
	}
}
.link-page, .submit{
	a, input{
		display: inline-block;
		padding: 1.2em 3.2em;
		font-size: 1.6em;
		color: #fff;
		background: #357BBA;
		border-radius: 3.5rem;
		border: none;
		-webkit-appearance: none;
		&:hover{
			box-shadow: 0px 4px 25px rgba(53, 123, 186, 0.5);
		}
		&:active{
			transition: all 0s;
			box-shadow: none;
		}
	}
	&.link-two{
		a{
			border: 1px solid #357BBA;
			background: none;
			color: #357BBA;
			&:hover{
				box-shadow: none;
				color: #fff;
				background: #357BBA;
			}
		}
	}
}
header{
	padding: 3.1rem 0 2.9rem;
	.container-fluid{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.logo{
		width: 17.9rem;
		img{
			width: 100%;
		}
	}
	nav{
		font-size: 1.5em;
	}
	ul{
		display: flex;
		li{
			margin-left: 3.65rem;
			&:first-child{
				margin-left: 0;
			}
		}
	}
	.mobile-menu{
		width: 5.6rem;
		height: 5.6rem;
		background: #2562A5;
		border-radius: 50%;
		position: relative;
		top: 0.4rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		display: none;
		div{
			width: 43%;
			height: 1px;
			background: #fff;
			margin: 0.3rem 0;
		}
	}
}
.section-title{
	padding: 2.2rem 0 9.3rem;
	.container-fluid{
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		.item{
			&:first-child{
				width: 49%;
				padding-bottom: 2.3rem;
			}
			&:nth-child(2){
				width: 45.6%;
				img{
					width: 109.5%;
					position: relative;
					right: 0rem;
				}
			}
		}
	}
	ul{
		font-size: 1.5em;
		line-height: 1.34em;
		counter-reset: heading;
		margin-bottom: 4rem;
		li{
			padding-bottom: 2.3rem;
			padding-left: 4.9rem;
			position: relative;
			&:last-child{
				padding-bottom: 0;
				&:after{
					content: none;
				}
			}
			&:before{
				content: '';
				counter-increment: heading;
				content: counter(heading);
				width: 3.5rem;
				height: 3.5rem;
				border: 1px solid #A4D7FF;
				border-radius: 50%;
				display: block;
				position: absolute;
				left: 0;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 1.6rem;
				color: #A4D7FF;
				font-weight: 700;
			}
			&:after{
				content: '';
				width: 1px;
				height: calc(100% - 4.3rem);
				display: block;
				position: absolute;
				top: 3.8rem;
				left: 1.75rem;
				background: #A4D7FF;
			}
		}
	}
}
.section-form{
	background:
		url(../img/circle-2.svg) 0 0 no-repeat,
		url(../img/circle-3.svg) right bottom no-repeat
		#2562A5;
	background-size: 25.4rem auto,
		22.1rem auto;
	padding: 7.4rem 0 1px;
	.block-title{
		color: #fff;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		margin-bottom: 5.3rem;
	}
	h2, .h2{
		width: 48%;
		font-size: 3.3em;
		line-height: 1.31em;
		font-family: $font-mono;
		font-weight: 700;
		text-transform: uppercase;
		color: #fff;
		margin-bottom: 0;
	}
	.checks-block{
		display: block;
		padding-top: 0.9rem;
		padding-right: 1.4rem;
		h3, .h3{
			font-size: 1.8em;
			line-height: 1.39em;
			margin-bottom: 3.2rem;
		}
		.item{
			font-size: 1.8em;
			display: inline-block;
			margin-right: 2.6rem;
			padding-left: 4.9rem;
			position: relative;
			&:last-child{
				margin-right: 0;
			}
			&:before{
				content: '';
				width: 3.5rem;
				height: 3.5rem;
				display: block;
				background: url(../img/check.svg) 50% no-repeat;
				background-size: contain;
				position: absolute;
				left: 0;
				top: calc(50% - 1.75rem);
			}
		}
	}
}
.block-form{
	width: 100%;
	background: #FFFFFF;
	box-shadow: 0px 4px 50px rgba(36, 102, 162, 0.2);
	border-radius: 10px;
	padding: 4.8rem 3.8rem 1px 3.6rem;
	margin-bottom: -14.2rem;
	position: relative;
	z-index: 5;
}
.three-label{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	label, .label{
		width: 32.5%;
	}
}
label, .label{
	display: block;
	margin-bottom: 3.8rem;
	input{
		border: 1px solid #C4C4C4;
		width: 100%;
		height: 6rem;
		display: block;
		border-radius: 3px;
		font-size: 1.8em;
		padding: 0 2.6rem;
		box-shadow: none;
		-webkit-appearance: none;
	}
	.title{
		display: block;
		font-size: 1.8em;
		color: #737578;
		margin-bottom: 1.3rem;
	}
	.ui-selectmenu-button.ui-button{
		width: 100%;
		border: 1px solid #C4C4C4;
		border-radius: 3px;
		height: 6rem;
		font-size: 1.8rem;
		padding: 0 5.7rem 0 2.6rem;
		display: flex;
		align-items: center;
		background: #ffff;
		transition: box-shadow 0.3s;
	}
	.ui-button .ui-icon{
		position: absolute;
		width: 2.1rem;
		height: 1rem;
		display: block;
		right: 2.8rem;
		top: calc(50% - 0.35rem);
		&:before, &:after{
			content: '';
			width: 100%;
			height: 100%;
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			background-repeat: no-repeat;
			background-size: contain;
			transition: opacity 0.3s;
		}
		&:before{
			background-image: url(../img/vector-select.svg);
		}
		&:after{
			background-image: url(../img/vector-select-hover.svg);
			opacity: 0;
		}
	}
	.ui-selectmenu-button.ui-button.ui-selectmenu-button-open{
		border-radius: 3px 3px 0 0;
		border-bottom-color: transparent;
		border-color: #A4D7FF;
		box-shadow: 0px 4px 20px rgba(53, 123, 186, 0.25);
		.ui-selectmenu-icon{
			transform: rotate(180deg);
			&:before{
				opacity: 0;
			}
			&:after{
				opacity: 1;
			}
		}
	}
	.labels-price{
		display: flex;
		label{
			width: 50%;
			position: relative;
			margin: 0;
			&:first-child{
				input{
					border-radius: 3px 0 0 3px;
					border-right: none;
				}
				&:before{
					content: '';
					width: 1px;
					height: 3.4rem;
					background: #C4C4C4;
					display: block;
					position: absolute;
					top: calc(50% - 1.7rem);
					right: 0;
				}
			}
			&:last-child{
				input{
					border-radius: 0 3px 3px 0;
					border-left: none;
				}
			}
		}
	}
	&.checkbox{
		font-size: 1.8em;
		margin-right: 2.5rem;
		position: relative;
		padding-left: 5.1rem;
		&:before{
			content: '';
			width: 3.5rem;
			height: 3.5rem;
			display: block;
			border: 1px solid #A4D7FF;
			position: absolute;
			top: calc(50% - 1.75rem);
			left: 0;
			border-radius: 50%;
			background-repeat: no-repeat;
			background-position: 50%;
			background-size: 1.4rem auto;
		}
		&.active{
			&:before{
				background-color: #A4D7FF;
				background-image: url(../img/check-h.svg);
			}
		}
		input{
			display: none;
		}
	}
	&.default-label{
		opacity: 0.4;
		position: relative;
		&:before{
			content: '';
			width: 100%;
			height: 100%;
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			cursor: default;
		}
	}
}
.labels-checkbox{
	display: flex;
	label{

		&:last-child{
			margin-right: 0;
		}
	}
}
body{
	.ui-widget.ui-widget-content{
		font-size: 1.8em;
		border: 1px solid #A4D7FF;
		box-shadow: 0px 8px 8px rgba(53, 123, 186, 0.25);
		border-radius: 0 0 3px 3px;
		border-top: none;
		margin-top: -1px;
		overflow: hidden;
		li{
			&:last-child{
				margin-bottom: -1px;
				border-radius: 0 0 3px 3px;
			}
			div{
				padding: 1.9rem 2.6rem;
				border: none;
			}
		}
	}
	.ui-menu .ui-state-active{
		margin: 0;
	}
}
.submit{
	padding-top: 1.3rem;
	text-align: center;
	margin-bottom: -3rem;
}
.section-main{
	padding: 25.6rem 0 9.6rem;
	background: url(../img/circle-4.svg) 50% 27.6rem no-repeat #F2F7FF;
	background-size: 96.1rem auto;
	h2, .h2{
		text-align: center;
		margin-bottom: 4.5rem;
	}
	.link-page{
		text-align: center;
		a{
			padding: 1.1em 4.5em;
		}
	}
	.link-show-moore{
		margin-bottom: 10rem;
	}
}
.owl-action{
	position: relative;
	box-shadow: 0px 4px 50px rgba(36, 102, 162, 0.09);
	border-radius: 10px;
	margin-bottom: 5rem;
	&:before, &:after{
		content: '';
		display: block;
		width: 96%;
		height: 100%;
		position: absolute;
		top: 7.9%;
		left: 2%;
		background: #FFFFFF;
		box-shadow: 0px 4px 50px rgba(36, 102, 162, 0.09);
		border-radius: 10px;
		z-index: -1;
	}
	&:after{
		top: 15%;
		z-index: -2;
		left: 4%;
		width: 92%;
	}
	.owl-stage-outer{
		text-align: center;
		width: 100%;
		height: 30rem;
		background: url(../img/bg-owl.png) 50%;
		border-radius: 1rem;
		background-size: cover;
		position: relative;
		z-index: 2;
	}
	.owl-stage{
		height: 100%;
		display: flex;
		align-items: center;
	}
	h3, .h3{
		font-size: 2em;
		font-family: $font-mono;
		font-weight: 700;
		color: #10406B;
		text-transform: uppercase;
		margin-bottom: 2.1rem;
	}
	p{
		color: #5C708F;
		margin-bottom: 3.6rem;
	}
	.text-wr{
		max-width: 74rem;
		margin: 0 auto;
	}
	.link-page{
		a{
			padding: 1.1em 5.1em;
		}
	}
	.owl-dots{
		display: none;
	}
	.owl-nav{
		position: absolute;
		width: 100%;
		top: calc(50% - 3.2rem);
		left: 0;
		display: flex;
		justify-content: space-between;
		button{
			width: 3.2rem;
			height: 6.4rem;
			background: #E3F1FC;
			display: block;
			font-size: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			transition: background 0.3s;
			position: relative;
			z-index: 3;
			&:hover{
				background: #357BBA;
				svg{
					stroke: #fff;
				}
			}
			&:first-child{
				border-radius: 0 10rem 10rem 0;
				svg{
					left: -0.5rem;
				}
			}
			&:last-child{
				border-radius: 10rem 0 0 10rem;
				svg{
					transform: rotate(180deg);
					left: 0.5rem;
				}
			}
			svg{
				stroke: #357BBA;
				width: 0.8rem;
				display: block;
				position: relative;
				transition: stroke 0.3s;
			}
		}
	}
}
.items-catalog{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 1.4rem;
	&.active{
		.item{
			&:nth-child(n + 7){
				display: block;
			}
		}
	}
	& > .item{
		width: 31.3%;
		position: relative;
		margin-right: 3%;
		margin-bottom: 3.3rem;
		&:nth-of-type(3n){
			margin-right: 0;
		}
		&.active{
			z-index: 9;
			.wr-content{
				position: absolute;
				ul.ul-list{
					li{
						position: relative;
						&:nth-child(n + 5){
							display: block;
						}
					}
				}
			}
		}
		&.hide-item{
			display: none;
		}
	}
	.wr-content{
		width: 100%;
		min-height: 100%;
		background: #fff;
		padding-bottom: 2.6rem;
		box-shadow: 0px 4px 20px rgba(36, 102, 161, 0.08);
		border-radius: 1rem;
	}
	.title-block{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 2.8rem 1rem 2.55rem 3.2rem;
		.img{
			width: 35.4%;
			img{
				width: 100%;
				border: 1.1rem solid #F2F7FF;
				border-radius: 50%;
				position: relative;
				top: -1.1rem;
			}
		}
		.text-block{
			width: 58.9%;
		}
	}
	h3, .h3{
		font-size: 2em;
		font-family: $font-mono;
		font-weight: 700;
		text-transform: uppercase;
		margin-bottom: 1.3rem;
	}
	ul.ul-contact{
		font-size: 1.5em;
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 0;
		li{
			margin-right: 2.7rem;
			margin-bottom: 1rem;
			display: flex;
			align-items: center;
			a{
				display: flex;
				align-items: center;
			}
			i{
				margin-right: 0.8rem;
				min-width: 1rem;
				position: relative;
				&.phone{
					top: 0.1rem;
				}
				&.mail{
					top: 0.1rem;
				}
			}
			&:last-child{
				margin-right: 0;
			}
		}
	}
	.reiting-wr{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		.skype-block{
			font-size: 1.5em;
			display: flex;
			align-items: center;
			i{
				margin-right: 0.5rem;
			}
		}
	}
	.sharing{
		font-size: 1.4em;
		position: relative;
		display: inline-block;
		padding-left: 1rem;
		& > span{
			display: inline-block;
			color: #A4D7FF;
			text-decoration: underline;
			position: relative;
			cursor: pointer;
			transition: color 0.3s;
			user-select: none;
			i{
				opacity: 0.8;
			}
			&:hover{
				color: #357BBA;
				&:after{
					opacity: 1;
				}
			}
			&:after{
				content: '';
				width: 1.2rem;
				height: 1.2rem;
				display: block;
				position: absolute;
				top: calc(50% - 6px);
				right: -2.5rem;
				background: url(../img/share.svg) no-repeat;
				background-size: contain;
				opacity: 0.7;
				transition: opacity 0.3s;
			}
		}
		.pluso{
			width: 100%;
			& > div, .pluso-wrap{
				width: 100%;
			}
		}
	}
	ul.ul-list{
		margin-bottom: 2.2rem;
		li{
			padding: 1.1rem 2rem 1.1rem 5.9rem;
			border-bottom: 1px solid #EAEAEA;
			position: relative;
			font-size: 1.4em;
			line-height: 1.72em;
			mark{
				color: #737578;
			}
			&:before{
				content: '';
				display: block;
				width: 0.6rem;
				height: 0.6rem;
				background: #357BBA;
				border-radius: 50%;
				position: absolute;
				top: 2rem;
				left: 4rem;
			}
			&:first-child{
				border-top: 1px solid #EAEAEA;
			}
			&:nth-child(n + 5){
				display: none;
			}
		}
	}
	.show-more{
		font-size: 1.4em;
		color: #357BBA;
		padding: 0 4.1rem;
		&.active{
			span{
				&:before{
					content: attr(data-active);
				}
				&:after{
					transform: rotate(180deg);
				}
			}
		}
		span{
			cursor: pointer;
			position: relative;
			display: flex;
			align-items: center;
			&:before{
				content: attr(data-default);
			}
			&:after{
				content: '';
				width: 0.6rem;
				height: 1.1rem;
				display: block;
				background: url(../img/vector-more.svg) no-repeat;
				background-size: contain;
				margin-left: 1.1rem;
			}
		}
	}
}
.reiting-block{
	display: flex;
	font-size: 1.4em;
	color: #737578;
	margin: 0.6rem 0 1.6rem 0;
	padding-left: 1rem;
	ul.ul-reiting{
		margin-left: 0.2rem;
		position: relative;
		top: -0.1rem;
	}
}
ul.ul-reiting{
	display: flex;
	li{
		display: block;
		button{
			width: 1.7rem;
			height: 1.6rem;
			background-image: url(../img/start.svg);
			background-repeat: no-repeat;
			background-size: contain;
			margin-left: 0.4rem;
			background-color: transparent;
			border: none;
			display: block;
			cursor: pointer;
			position: relative;
		}
		&.disabled{
			button{
				background-image: url(../img/disabled-start.svg);
			}
		}
		&.h_25{
			button{
				background-image: url(../img/start-025.svg);
			}
		}
		&.h_5{
			button{
				background-image: url(../img/start-05.svg);
			}
		}
		&.h_75{
			button{
				background-image: url(../img/start-075.svg);
			}
		}
	}
	&.hover-reiting{
		li{
			button{
				background-image: url(../img/disabled-start.svg) !important;
			}
			&.active{
				button{
					background-image: url(../img/start-hover.svg) !important;
				}
			}
		}
	}
	&.active{
		li{
			button{
				background-image: url(../img/start-hover.svg) !important;
				cursor: default;
			}
			&.disabled{
				button{
					background-image: url(../img/disabled-start.svg) !important;
				}
			}
			&.h_25{
				button{
					background-image: url(../img/start-025-hover.svg) !important;
				}
			}
			&.h_5{
				button{
					background-image: url(../img/start-05-hover.svg) !important;
				}
			}
			&.h_75{
				button{
					background-image: url(../img/start-075-hover.svg) !important;
				}
			}
		}
	}
}
footer{
	background: url(../img/circle-5.svg) left bottom no-repeat,
		url(../img/circle-6.svg) right top no-repeat #357BBA;
		background-size: 31.8rem auto,
		19.9rem auto;
		padding: 4.3rem 0 0;
		color: #fff;
	.top-footer{
		padding-bottom: 2.1rem;
		display: flex;
		justify-content: space-between;
		padding-right: 12.8rem;
	}
	.logo{
		width: 17.9rem;
		img{
			width: 100%;
		}
	}
	ul{
		font-size: 1.6em;
		li{
			margin-bottom: 1.7rem;
		}
		a{
			&:hover{
				color: #77E7FF;
				text-decoration: underline;
			}
		}
	}
	h3, .h3{
		font-size: 1.6em;
		font-weight: 700;
		margin-bottom: 1.1rem;
	}
	ul.list-ul{
		padding-top: 0.8rem;
		li{
			position: relative;
			padding-left: 1.8rem;
			margin-bottom: 1.4rem;
			&:before{
				content: '';
				width: 0.6rem;
				height: 0.6rem;
				display: block;
				background: #B7D7EA;
				border-radius: 50%;
				position: absolute;
				top: 0.6rem;
				left: 0;
			}
		}
	}
	.aplication{
		width: 16.6rem;
		padding-top: 0.7rem;
		img{
			width: 100%;
		}
	}
	.bottom-footer{
		background: rgba(20, 71, 136, 0.8);
		padding: 2.5rem 0;
		ul{
			display: flex;
			justify-content: space-between;
			max-width: 93.3rem;
			li{
				margin-bottom: 0;
			}
		}
		.container-fluid{
			
		}
	}
}
.social{
	display: flex;
	margin-bottom: 2.4rem;
	a{
		display: block;
		width: 3.7rem;
		height: 3.7rem;
		background: rgba(255,255,255, 0.8);
		border-radius: 50%;
		margin-right: 1.8rem;
		display: flex;
		align-items: center;
		justify-content: center;
		&:hover{
			background: rgba(255,255,255, 1);
		}
		i{
			font-size: 1.9em;
			color: #144788;
		}
		&:last-child{
			margin-right: 0;
		}
	}
}




.hide{
	display: none !important;
}












// для нормального скролу в safari
.modal-window{
	-webkit-overflow-scrolling:touch;
	-moz-overflow-scrolling:touch;
	overflow-scrolling:touch;
	width: 100%;
	height: 100%;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	background: rgba(0,0,0,0.8);
	text-align: center;
	display: none;
	&:before {
		content: "";
		display: inline-block;
		min-height: inherit;
		height: 100%;
		vertical-align: middle;
		text-align: center;
	}
	.window{
		width: calc(100% - 10px);
		max-width: 500px;
		background: #fff;
		display: inline-block;
		vertical-align: middle;
		padding: 4rem 2rem;
		position: relative;
		border-radius: 3px;
		.close{
			width: 1.9rem;
			height: 1.9rem;
			position: absolute;
			top: 1rem;
			right: 1rem;
			cursor: pointer;
			transition: opacity 0.3s;
			&:hover{
				opacity: 0.8;
			}
			&:before, &:after{
				content: '';
				width: 100%;
				height: 2px;
				display: block;
				position: absolute;
				top: calc(50% - 1px;);
				left: 0;
				background: $color-blue;
			}
			&:before{
				transform: rotate(45deg);
			}
			&:after{
				transform: rotate(-45deg);
			}
		}
		h2, .h2{
			font-size: 2rem;
			letter-spacing: 0;
			font-family: $font-mono;
		}
	}
}
.sharing-wr{
	.pluso-more{
		display: none !important;
	}
	.pluso{
		& > div{
			width: 100%;
		}
	}
	.pluso-wrap{
		a{
			background-position: 50% !important;
			width: 3.5rem !important;
			height: 3.5rem !important;
			border-radius: 50%;
			margin: 0 0.5rem !important;
			&.pluso-facebook{
				background-color: #2C54A9;
				background-image: url(../img/facebook.png);
				background-size: 30% auto;
			}
			&.pluso-vkontakte{
				background-color: #5180B8;
				background-image: url(../img/vk.png);
				background-size: 54% auto;
			}
		}
	}
}




.modal-error, .modal-success{
	position: fixed;
	top: 10%;
	left: 0;
	z-index: 999;
	background: #f00;
	font-size: 1.4em;
	color: #fff;
	padding: 1rem 2rem;
	border-radius: 0 0.5rem 0.5rem 0;
	transition: transform 0.4s;
	transform: translateX(-100%);
	&.active{
		transform: translateX(0);
	}
}
.modal-success{
	background: #98BA1F;
}






// для кнопок в safari
.button{
	input, button{
		-webkit-appearance: none;
	}
}



